* {
    font-family: sans-serif;
    text-align: center;
}
html,body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    transition: .5s ease-in all;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.winner {
    background-image: url("https://media.giphy.com/media/js0pKUv19A9HrrupHe/giphy.gif");
    color: darkblue;
}

p.winner {
    font-family: "Sirin Stencil", serif;
    font-size: 80px;
}